.hidden {
    display: none;
}

.container-leave {
     background: white;
     position: relative;
     left: 110px;
     width: 710px;
     border-radius: 10px;
     padding: 10px;
     height: 550px;
     top: 1%;
}

.container-entry {
    background: white;
    position: relative;
    left: 110px;
    width: 710px;
    border-radius: 10px;
    padding: 10px;
    height: 550px;
    top: 0.9%;
    box-shadow: 0 2px 10px 0 #909090;
}

.baike-title {
    float: right;
    height: 150px;
    width: 350px;
    position: absolute;
    right: 200px;
    top: 50px;
}

.wiki-name {
    font-size: 23px;
    font-weight: 700;
    color: #001BA0;
}

.wiki-score {
    font-size: 18px;
    font-weight: 600;
    color: #42BD56;
}

img {
    height: 150px;
    width: 150px;
}

.summary {
    position: absolute;
    top: 160px;
    height: 200px;
    overflow: hidden;
}

.basic-Info-left {
    float: left;
    position: absolute;
    left: 3%;
    top: 360px;
}

.basic-Info-right {
    float: right;
    position: absolute;
    right: 3%;
    top: 360px;
}

.basicInfo-name {
    color: #999;
    font-weight: 700;
    font-size: 13px;
}

.basicInfo-value {
    font-size: 13px;
}
