.hidden {
    display: none;
}

.container-leave {
     background: white;
     position: relative;
     left: 7.5%;
     width: 46.5%;
     border-radius: 10px;
     padding: 10px;
     height: 550px;
     top: 1%;
}

.container-entry {
    background: white;
    position: relative;
    left: 7.5%;
    width: 46.5%;
    border-radius: 10px;
    padding: 10px;
    height: 550px;
    top: 0.9%;
    box-shadow: 0 2px 10px 0 #909090;
}

.baike-title {
    float: right;
    height: 150px;
    position: relative;
    right: 35%;
    top: 5%;
}

.wiki-name {
    font-size: 23px;
    font-weight: 700;
    color: #001BA0;
}

.wiki-score {
    font-size: 18px;
    font-weight: 600;
    color: #42BD56;
}

img {
    height: 150px;
}

.summary {
    height: 200px;
    overflow: hidden;
}

.basic-info-left {
    float: left;
    position: relative;
    left: 3%;
}

.basic-info-right {
    float: right;
    position: relative;
    right: 3%;
}

.basicInfo-name {
    color: #999;
    font-weight: 700;
    font-size: 13px;
}

.basicInfo-value {
    font-size: 13px;
}
