.search-div .ant-input-search {
    width: 700px;
}

.search-div .ant-input {
    height: 50px;
}

.search-div .ant-btn {
    height: 50px;
    width: 100px;
}

.search-div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
}

.logo {
    width: 700px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -350px;
}

.title {
    font-size: 60px;
    color: white;
    text-align: center;
}

.homeView {
    height: 125vh;
    background-image: url("../assets/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.signIn-div {
    float: right;
    position: relative;
    right: 14%;
    top: 20px;
}

.signIn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}